@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}
body
{

}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a
{
    text-decoration: none;
}
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #0b60b0c7;
}
.right a
{
    color: #fff;
}
.center path
{
    font-size: 20px;
}
.center a
{
    color: #fff;
    padding: 5px 12px;
    font-size: calc(1.325rem + .9vw) !important;
}
.left a
{
    color: #fff;
    padding: 5px;
}

@media (max-width: 768px)
{

}


.chat-link
{
    position: fixed;
    padding: 10px 25px;
    bottom: 10%;
    right: 0;
}

.chat-link a
{
    font-weight: 600;
    color: #0B60B0;
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #0B60B0 ;
    border-bottom: 5px solid #0B60B0 ;
}

.chat-link a:hover
{
    transition:  .3s ease-in-out;
    border-bottom: 2px solid #0B60B0 ;
}
.copy-link
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
}
#inptocopy
{
    width: 30%;
    font-weight: 600;
    color: #0B60B0;
    background: #fff;
    padding: 4px 10px;
    border-radius: 5px;
    border: 2px solid #0B60B0;
    margin: -7%;
    outline: none;
}
#btnCopy
{
    font-weight: 600;
    color: #0B60B0;
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #0B60B0 ;
    border-bottom: 5px solid #0B60B0 ;
    cursor: pointer;
}
#btnCopy:hover
{
    transition:  .3s ease-in-out;
    border-bottom: 2px solid #0B60B0 ;
}

.my-message 
{
    text-align: center;
    color: #0B60B0;
    font-size: 22px;
}

.message
{
    padding: 15px 40px;
    text-align: center;
    margin-bottom: 10px;
}
.user-info span
{
    font-size: 16px;
    margin-right: 10px;
    color: #0B60B0;
    text-align: left;
}
.user-info 
{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    color: #0B60B0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #0b60b04d ;
    padding: 10px;
}
.message-footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 10px;
    border-top: 2px solid #0B60B0 ;
    border-bottom: 2px solid #0B60B0 ;
    padding-bottom: 10px;
}

i{
    font-size: 20px;
    margin-right: 10px;
    color: #0B60B0;
}



.gift
{
    color: #0B60B0;
}
.gift-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #0B60B0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #0B60B04d ;
    padding: 10px 25px; 
    text-align: center;
}
.gift-noti
{
    border-right: 3px solid #0B60B0 ;
    padding-right: 10px;
    background-color: #0b60b02a;
    text-align: right;
    margin-bottom: 5px;
}
.gift-noti p
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 10px;
}

#txtmessage
{
    width: 90%;
    height: 30vh;
    text-align: right;
    padding: 10px;
    resize: none;
    font-size: 16px;
    border: 2px solid #0B60B0;
    border-radius: 10px;
    margin-bottom: 10px;
    outline: none;
}
#txtmessage::placeholder
{
    color: #0B60B0;
    font-weight: 600;
}
#txtmessage:focus{
    border-bottom: 5px solid #0B60B0 ;
}
#txtinpt
{
    display: block;
    padding: 6px;
    margin: 2% auto;
    text-align: center;
    border: 2px solid #0B60B0 ;
    outline: none;
    border-radius: 6px;
    width: 50%;
}
#txtinpt::placeholder
{
    color: #0B60B0;
    font-weight: 600;
}
#txtinpt:focus{
    border-bottom: 5px solid #0B60B0 ;
}

#btninpt
{
    display: block;
    padding: 6px 15px;
    font-weight: 600;
    margin: 1% auto;
    text-align: center;
    outline: none;
    background: #0B60B0;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid #0B60B0 ;
    transition:  .3s ease-in-out;
    border-bottom: 5px solid #0B60B0 ;
}
#btninpt:hover
{
    background: #fff;
    color: #0B60B0;
}

#btn-post
{
    background: none;
    border: none;
    cursor: pointer;

}
/*  */
footer
{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

}

footer .link
{
    position: fixed;
    bottom: 0;
    background-color: #0b60b0b7;
    border-radius: 8px 8px 0 0 ;
    
}
footer .link a
{
    padding: 10px;
    color: #fff;
    font-weight: 600;
}